*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-size: 25px;
    font-weight: 300;
}

body{
    background-color:white ;
}

.container{
    height:500px ;
    width: 800px;
    padding: 10px;
    margin: 10px;
    gap:10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
    background-color: black;
}

.one{
    background-color: red;
    grid-row-start:1 ;
    grid-row-end:3 ;
}

.two{
    background-color: aqua;
    grid-column-start:2 ;
    grid-column-end:4 ;
}

.three{
    background-color: bisque;
    grid-column-start:4 ;
    grid-column-end:6 ;
}

.four{
    background-color: bisque;
}

.five{
    background-color:white;
    grid-column-start: 3;
    grid-column-end:5 ;
}

.six{
    background-color: red;
    grid-row-start:2 ;
    grid-row-end:4 ;
    grid-column-start:5 ;
    grid-column-end:6;

}

.seven{
    background-color: white;
}

.eight{
    background-color: red;
    grid-column-start: 2;
    grid-column-end:4;

}

.nine{
    background-color: aqua;
}

