/* h1{
    background-color: aqua;
} */

/* .classA{
    background-color: blueviolet;
} */

#first{
    background-color: brown;
}


/* #first{
    background-color:red;
} */
/* li{
    background-color: aquamarine;
} */

/* h1{
    background-color: yellow;
} */

/* h2{
    background-color: blueviolet !important;
} */