.container{
    background-color: rgb(239, 151, 57);
    height: 200px;
    width: 200px;
    /* hide your data */
    /* overflow: hidden; */

    /* to read the whole contained we use scroll */
    overflow: scroll;

}