*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: white;
    font-size:20px;
}

body{
    background-color: black;
}

.container{
    display: grid;
    grid-template-rows:1fr 1fr;
    grid-template-columns:1fr 1fr;
    gap: 10px;
    padding: 10px;
    height: 400px;
    width: 400px;
    background-color: blueviolet;

}

.first{
    background-color: orange;
}

.second{
    background-color: aqua;

}

.third{
    background-color: red;

}

.fourth{
    background-color: rgb(9, 174, 119);
}

