*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* parent */
body{
    background-color: rgb(204, 212, 218);
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh ;
}

/* child item */
.box{  
    background-color: white; 
    height: 400px;
    width: 400px;
    padding: 25px;
    border-radius: 10px;
}

h1{
    text-align: center;
    margin-bottom: 20px;
    color: rgb(71, 71, 188);
}

label{
    font-size: 25px;
    font-weight: 700;
    font-style:normal;
    padding:8px;
    margin-bottom: 5px;


}

input{
    width: 100%;
    height: 30px;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 5px;
}

button{
    background-color: rgb(83, 83, 199);
    color: white;
    width: 100%;
    height:32px;
    font-size:20px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    
    
}

