*{
    padding: 0px;
    margin: 0px;
    height: 100vh;
    box-sizing: border-box;
}

.container{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.box{
    background-color: orange;
    height: 150px;
    width: 150px;
    transition: all 3s;
    cursor: pointer;
    
}

.box:hover{
    /* background-color: blueviolet;
    height: 300px;
    width: 300px; */
    transform: scale(2);
}