*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
    height: 100vh;
    font-size: 30px;
    color: aliceblue;
}

.container{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.box {
    background-color: orange;
    height: 150px;
    width: 150px;
    transition: all 3s;
    cursor: pointer;
    text-align: center;
}


/* ON HOVER APPLY ALL TRANSFORMS */
.box:hover {
    /* when we transform in the code it will not affect the second layout present after or before it */
    transform:
        /* PERSPECTIVE */
        /* perspective(400px) */

        /* TRANSLATE */
        translate(100px, 200px)
        /* translateX(40px) */
        /* translateY(-20px) */
        /* translateZ(100px) */

        /* SCALE */
        /* scale(1.3) */
        /* scaleX(1.5) */
        /* scaleY(0.7) */
        /* scaleZ(1.2) */

        /* ROTATE */
        /* rotate(45deg)
        rotateX(40deg)
        rotateY(60deg)
        rotateZ(30deg) */

        /* SKEW */
        /* skew(20deg, 10deg)
        skewX(15deg)
        skewY(10deg) */

        /* MATRIX */
        /* matrix(1, 0.5, -0.3, 1, 50, 30); */
}

