*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: white;
    font-size: 20px;
}

body{
    background-color: black;
}

.container{
    display: grid;
    height: 800px;
    width: 800px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    gap: 20px;
    padding: 10px;
}

.box{
    background-color: rgb(90, 90, 220);
}

.header{
    grid-column-start: 1;
    grid-column-end:4 ;
}

.slidebar{
    grid-row-start: 2;
    grid-row-end: 4;
}

.content01{
   grid-column-start: 2;
    grid-column-end:4 ;
}

.footer{
    grid-column-start:1;
    grid-column-end:4 ;
}

