/* span{
    color: orange;
} */
 /* *{
    margin: 0px;
    padding: 0px;
 } */

h1{
    background-color: aqua;
    height: 300px;
    width: 300px;
    /* padding: 40px;
    margin: 20px; */
    /* display: inline; */
    /* display: inline-block; */
    border:10px solid orange;
    padding: 20px;
    box-sizing: content-box;

}
h2{
    background-color: brown;
    /* display: inline; */
    height: 300px;
    width: 300px;
    /* display: inline-block; */
     border:10px solid orange;
    padding: 20px;
    box-sizing: border-box;
}

span{
    background-color: pink;
    height: 200px;
    width: 300px;
    /* padding: 20px;
    margin: 20px; */
    margin-bottom: 30px;
    /* padding-left: 40px;
    padding-right: 40px; */
    margin-left: 20px;
    /* display: block; */
}
