*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    background-color: black;
    position:relative;
}

.box{
    height: 200px;
    width: 200px;
    background-color:red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    border-radius: 50%;

}