*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: all 3s;

}

.box{
    height: 200px;
    width: 200px;
    background-color: orange;
    animation-name: moving;
    animation-duration: 3s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
    cursor: pointer;
    font-size: 50px;
    color: rgb(255, 255, 255);
}

@keyframes moving {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
