*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    height: 550px;
    width: 550px;
    background-color:red;
    animation-name: moving;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;


}
@keyframes moving {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
    
}

.sun{
    height: 80px;
    width: 80px;
    background-color: yellow;
    border-radius: 50%;
    transform: translate(200px);
}