*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    height: 100vh;
}
body{
    background-color: rgb(169, 165, 165);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
}

.container{
    height: 190px;
    width: 190px;
    background-color: rgb(239, 178, 65);
    
    

}
.container:hover{
    box-shadow: 0 20px 50px rgba(8, 112, 184, 0.7);
}

.box1{
    height:200px ;
    width: 200px;
    background-color: green;
    transition: 0.5s;
    
}
.box1:hover{
    background-color: red;
}

