/* BOX-SIZING DEFAULT: content-box */
.content-box {
    box-sizing:content-box;
    width: 250px;
    height: 100px;
    padding: 20px;
    border: 5px solid red;
    background-color: lightblue;
    margin-bottom: 20px;
}

/* BOX-SIZING: border-box */
.border-box {
    box-sizing: border-box;
    width: 250px;
    height: 100px;
    padding: 20px;
    border: 5px solid green;
    background-color: lightyellow;
}
