.parent {
    position: relative;   /* important */
    background: lightgray;
    width: 300px;
    height: 200px;
    margin: 20px;
}

.absolute-box {
    position: absolute;
    background: lightgreen;
    width: 120px;
    height: 80px;
    top: 50px;    /* distance from PARENT top */
    left: 70px;   /* distance from PARENT left */
}
