*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 30px;
    color: rgb(24, 12, 2);
}

body{
    background-color: rgb(203, 44, 44);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    /* background-color: rgb(229, 163, 20); */
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr ;
    height: 800px;
    width: 800px;
    padding: 10px;
    gap: 10px;
}

.first{
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: aquamarine;
}

.second{
    grid-column-start:2;
    grid-column-end:4;
    background-color: blueviolet;
}

.third{
    background-color: antiquewhite;
}

.fourth{
    background-color: rgb(20, 208, 54);
}

.fifth{
    background-color: rgb(105, 109, 113);
}

.sixth{
    grid-row-start:2;
    grid-row-end: 4;
    grid-column-start:4;
    grid-column-end:5;
    background-color: rgb(190, 231, 43);
}

.seventh{
    background-color: rgb(5, 87, 60);
}
.eighth{
    background-color: rgb(244, 199, 133);
}

