*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #0a0a0a;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.container{
    background-color: rgba(78, 75, 75, 0.425);
    border:1px solid rgba(78, 75, 75, 0.425);
    font-size: 40px;
    padding: 10px;
    color: white;
    width: 70%;
    border-radius: 5px;
    white-space:nowrap;
    overflow: hidden;

}

p{
    margin-left: 100%;
    animation-name: moving;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    
}
@keyframes moving {
    from{
        margin-left: 100%;
    }

    to{
        margin-left: -70%;
    }
    
}