*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    background-color:white;
    height: 500px;
    width: 600px;
    border-radius: 10px;
    padding: 25px;

}

h1{
    text-align: center;
    margin: 10px;
    color: orange;
    font-size: 400;
}
h4{
    text-align: center;
    margin: 30px;
}

label{
    font-size: 20px;
    font-weight: 700;
    font-style:normal;
    padding:8px;
    margin-bottom: 5px;
}

input{
      width: 100%;
    height: 30px;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 5px;
}

button{
    width: 100%;
    height:30px;
    font-size:20px;
    font-weight: 500px;
    padding: 3px;
    margin-bottom: 30px;
    background-color: rgb(249, 212, 166);
    cursor: pointer;
}
